/* static/css/styles.css */
.chat-container {
    display: flex;
    flex-direction: column;
}

.user-message {
    background-color: #edf2f7;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 10px;
}

.chatbot-message {
    background-color: #63b3ed;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 10px;
    align-self: flex-end;
}
