{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetAyla Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.cdnfonts.com/css/roxie-rossa" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-black">
    <!-- Header -->
    <header class="bg-primary sticky top-0 z-50  text-white p-4 flex justify-between items-center">
        <div class="p-8 mx-8">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="new_chat_button" id="new-chat-button">
                    <span class="text-2xl">+</span>
                    <span class="ml-2 text-lg">New Chat</span>
                </button>
            </form>
        </div>
        <button id="openModalBtn" class="text-white p-8 mx-8">



            <!-- SVG path here -->
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <use xlink:href="{% static 'svgs.svg' %}#ham-icon"></use>
            </svg>


        </button>
    </header>

    <!-- Hamburger Modal -->
    <div id="modal" class="fixed right-8 top-20 p-4 hidden">
        <!-- Hamburger Modal content here -->
        <!-- Your modal content here -->

        <div class="bg-black rounded-lg shadow-xl transform transition-all">
            <div class="py-1">
                <a href="{% url 'history' %}" class="block px-4 py-2 text-white hover:bg-gray-800 ">History</a>
                <div class="border-t border-gray-800"></div>
                <a href="{% url 'settings' %}" class="block px-4 py-2 text-white hover:bg-gray-800">Settings</a>
                <div class="border-t border-gray-800"></div>
                <!-- Update the href attribute to point to the logout URL -->
                <a href="{% url 'logout' %}" class="block px-4 py-2 text-white hover:bg-gray-800">Sign Out</a>
            </div>

        </div>
    </div>

    <!-- Chatbot Interface -->
    <div class="container  mx-auto my-4 p-6   ">
        <main class="p-4 md:p-8">

            <section>
                <p class="text-white  text-sm text-center p-8  ">Hi {{ user.username }}!,</br> Welcome to MeetAyla, How
                    can I help you today?</p>
                <div id="chat-history">
                    <div id="chat-container" class="chat-container">
                        <!-- Iterate through the conversation history and display messages -->
                        {% for entry in conversation_history %}
                        <div class="message   mb-4 mx-auto  max-w-lg ">
                            <div class="flex hidden md:flex mt-8 mx-auto ">
                                <!-- User input message -->
                                <!-- Your user input message here -->
                                <img class="w-8 h-8 rounded-full" src="{% static 'images/user.png' %}"
                                    alt="Background Image">



                                <p class="text-white  pl-8">{{ entry.user_input }}</p>
                                <div class="relative mx-auto mr-24  max-w-lg">
                                    <button type="submit" name="send_button"
                                        class="absolute right-0 top-1/2  md:static md:translate-y-0 bg-transparent focus:outline-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 20 20" fill="none">
                                            <path
                                                d="M9.16683 4.16667H5.00016C4.07969 4.16667 3.3335 4.91286 3.3335 5.83334V15C3.3335 15.9205 4.07969 16.6667 5.00016 16.6667H14.1668C15.0873 16.6667 15.8335 15.9205 15.8335 15V10.8333M14.655 2.98816C15.3059 2.33728 16.3611 2.33728 17.012 2.98816C17.6629 3.63903 17.6629 4.6943 17.012 5.34518L9.85718 12.5H7.50016L7.50016 10.143L14.655 2.98816Z"
                                                stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>

                            </div>
                            <div
                                class="message chatbot-message flex mx-auto w-full max-w-lg md:mx-auto mt-14  items-start">
                                <!-- Chatbot response message -->
                                <!-- Your chatbot response message here -->
                                    <img class="w-8 h-8 rounded-full" src="{% static 'images/chat.png' %}" alt="Background Image">
                                    {% if entry.chatbot_response %}
                                    <p class="pl-8 whitespace-normal mx-auto w-full max-w-lg text-white">{{ entry.chatbot_response }}</p>
                                    {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <!-- Logo (conditionally rendered) -->
            {% if conversation_history %}
            <div id="logo" class="flex justify-center items-center lg:mt-14 hidden">

                <!-- Your logo SVG here -->
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="w-24 h-24" />
            </div>
            {% else %}
            <div id="logo" class="flex justify-center items-center lg:mt-14">

                <!-- Your logo SVG here -->
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="w-24 h-24" />
            </div>
            {% endif %}

            <!-- User input form -->
            <div class="fixed bottom-0 inset-x-0 z-50 flex justify-center items-center shadow-lg p-4">
                <form method="post" class="w-full max-w-lg bg-black">
                    {% csrf_token %}
                    <div class="relative">
                        <input type="text" id="input-group-1" name="user_input"
                            class="bg-transparent border-b border-gray-600 text-white text-sm rounded-none placeholder-white w-full p-2.5 pr-12"
                            placeholder="Ask Ayla anything" />
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <button type="submit" name="send_button">
                                <!-- Your send button SVG here -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <use xlink:href="{% static 'svgs.svg' %}#msg-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>


        </main>
        <!-- Back to Top Arrow -->
        <div id="scrollToBottomBtn" class="fixed bottom-4 right-4">
            <button id="scrollToBottom" class="text-white hover:text-gray-300 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <use xlink:href="{% static 'svgs.svg' %}#arr-icon"></use>
                </svg>
            </button>
        </div>


    </div>

    <!-- JavaScript for hamburger menu -->
    <script>
        const openModalBtn = document.getElementById('openModalBtn');
        const modal = document.getElementById('modal');

        openModalBtn.addEventListener('click', () => {
            modal.classList.toggle('hidden');
        });
        // Get references to the chat container, chat history container, and the new chat button
        const chatContainer = document.getElementById('chat-container');
        // const chatHistoryContainer = document.getElementById('chat-history');
        const newChatButton = document.getElementById('new-chat-button');

        // Add click event listener to the new chat button
        newChatButton.addEventListener('click', createNewChat);

        // Function to create a new chat and clear chat history
        function createNewChat() {
            // Clear the chat session data
            sessionStorage.removeItem('conversation_history');

            // Add a welcome message to the chat container
            const welcomeMessage = document.createElement('div');
            welcomeMessage.className = 'text-center text-gray-500 my-4';
            welcomeMessage.textContent = 'Welcome to the new chat!';
            chatContainer.appendChild(welcomeMessage);

            // Hide the chat history container
            // chatHistoryContainer.classList.add('hidden');
        }

        document.addEventListener("DOMContentLoaded", function () {
            var scrollToBottomBtn = document.getElementById("scrollToBottom");
            scrollToBottomBtn.addEventListener("click", function () {
                var chatHistory = document.getElementById("chat-history");
                chatHistory.scrollTop = chatHistory.scrollHeight;
            });
        });

    </script>
</body>

</html>